<h3>Store Information</h3>
<form [formGroup]="storeProfileForm"  class="relative">
  
    <label>
      Shop Name:
      <input type="text" formControlName="shopName" class="absolute">
      </label>
      <br/>
    <label>
      Owner Name:
      <input type="text" formControlName="ownerName" class="absolute">
    </label>
    <br/>    
  <label for="categories">Category:
  <select formControlName="category" id="categories" class="absolute select-style">
    <option *ngFor="let order of categories; let i = index" [value]="categories[i].id">
      {{categories[i].name}}
    </option>
  </select>
</label>
    <br/>
  <div formGroupName="address"> 
    <h3>Address</h3>
  
    <label>
      Street:
      <input type="text" formControlName="street" class="absolute">
    </label>
    <br/>
    <label>
      City:
      <input type="text" formControlName="city" class="absolute">
    </label>
    <br/>
    <label>
      State:
      <input type="text" formControlName="state" class="absolute">
    </label>
    <br/>
    <label>
      Zip Code:
      <input type="text" formControlName="zip" class="absolute">
    </label>
    <br/>
    <label>
      Country:
      <input type="text" formControlName="country" class="absolute">
    </label>
    <br/>
  </div>
  <p>
  <button class="btn btn-lg pull-xs-right btn-primary absolute btn-style" type="button" (click)="submitForm()" [disabled]="!storeProfileForm.valid">
    Save Store
  </button>
  </p>
</form>